* {
	margin:0;
	padding:0;
}

body{
	background-color:black;
}

h1{
	background-color:white;
	text-align:center;
}
td {
	
	width:20px;
	height:20px;
}

.blank{
	background-color:black;
}

.skate{
	background-color:white;
}

.wall{
	background-color:green;
}

.inbit{
	background-color:red;
}